.explanation {
    margin-bottom: 50px;
}


.title {
    height: 60px;
    width: 75%;
    border: 2px solid;
    border-color: rgb(194, 12, 12);
    border-radius: 5px;
}

.title:focus{
    outline: none;
}

.content {
    height: 160px;
    width: 75%;
    border: 2px solid;
    border-color: rgb(194, 12, 12);
    border-radius: 5px;
}

.content:focus{
    outline: none;
}

.buttonPlace {
    position: absolute;
    margin-top: 20px;
}

.submit {
    background-color: rgb(194, 12, 12);
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 800px;
}

.submit:hover {
    cursor: pointer;
    opacity: 70%;
}